.wrapper {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--color-bg-start);
  width: 100%;
  border-bottom: 1px solid #1f2a3c;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  max-width: 1400px;
  margin: 0 auto;
}

.logo a {
  display: flex;
  flex-direction: column;
  line-height: 1;
  text-decoration: none;
}

.logoMain {
  font-family: var(--font-heading);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #1f2a3c;
  color: var(--color-text-white);
  font-size: 1.5rem;
  text-transform: uppercase;
  flex-direction: row;
}

.links a {
  font-family: var(--font-heading);
  color: var(--color-text-white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1.5rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
