.group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.label {
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: var(--font-heading);
}

.input {
  background-color: var(--color-input-bg);
  border: none;
  padding: 0.8rem;
  color: #ffffff;
  font-family: var(--font-body);
  font-size: 1rem;
  border-radius: 0;
  outline: none;
  width: 100%;
}

.input::placeholder {
  color: var(--color-text-main);
  opacity: 0.7;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}