:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Colors */
  --color-bg-start: #081221;
  --color-bg-end: #03080f;
  --color-card-bg: #0e1a2b;
  --color-input-bg: #182c47;
  --color-accent: #5692e8;
  --color-text-main: #c1d1e8;
  --color-text-white: #ffffff;

  /* Fonts */
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Mulish", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(180deg,
      var(--color-bg-start) 0%,
      var(--color-bg-end) 100%);
  color: var(--color-text-white);
  min-height: 100vh;
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--font-heading);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}